.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background: #151128;
}

.navbar__image {
    padding: 0;
    margin: 0;
    height: 200px;
}

.navbar__language {
    width: 97%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1rem;
}

.language__select {
    padding: 0.5rem;
    border-radius: 2rem;
}

.language__select:hover {
    cursor: pointer;
}