@font-face {
    font-family: 'Avara'; /*a name to be used later*/
    src: url('/src/assets/fonts/Avara-Bold.otf'); /*URL to font*/
}

body {
  background: black;
  padding: 0;
  margin: 0;
  font-family: 'Avara';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

p {
  color: white;
}

select {
  font-family: 'Avara';
}